


<div  class="tab" ng-controller="myCtrl" >
  <button ng-click="perguntar()" >Perguntar!</button>
    <div ng-show="tela" class="container-post">
  <div class="panel-post">
    <div class="titulo"><input type="text" ng-model="titulo"></div>
    <div class="conteudo"><input type="text" ng-model="conteudo"></div>
    <button ng-click="postar()"> Postar</button>
  </div></div>

  <div class="area-post" ng-repeat="post in posts" >

      <div ng view><div>
    <div class="container">


      <div class="user-area" ng-repeat="user in uer"><div class="user"><h4 class="nome">{{user.username}}</h4>
    <img src="{{user.img}}"></img></div></div>
    <div class="panel-default">
      <div class="panel-heading"><a href="#/" ng-click="post('{{post.post_title}}')">{{post.post_title}}</a></div>
      <div class="panel-body"><p>{{post.post_ct}}</p></div>
    </div>
  </div>

</div>

</div>
