
a,
a:focus,
a:hover {
  color: #fff;
}


html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
background-image: url(fundo.png);
background-position:bottom;


}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}


.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}



.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-grid;
}
.masthead-nav > li + li {
  margin-left: 20px;

}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;

  }
  .masthead-nav {
    float: right;
  }
}
.masthead-brand
font-family: 'Stoke', serif;
  font-size: 36px;
  font-weight: bold;
  text-decoration:none;
}
.area-post{
    width: 100%;
    height: 25%;
}


.container{

  background-color: rgba(120,120,120,.5);
  padding-top:5px ;
  padding-bottom: 10px;
  width: 97.5%;
  display: row;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  border-radius: 15px;
  height: 100px;

}
.container-post{
  float: left;
  background-color: rgba(120,120,120,.5);
  padding-top:5px ;
  padding-bottom: 10px;
  display: row;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  border-radius: 15px;
  height: 150px;
  width: 97.5%;


}
.panel-default a{
  text-decoration: none;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 10px;
}
.panel-default{
  width:80%;
  height: 100%;
  margin-left: 20%;
  text-align: center;
  float: center;





}
.panel-post{
  width:50%;
  height: 50%;
  text-align: center;
  float: center;
  margin: auto;
}
.user img{
    margin-left: 15%;

  border-radius:50%;
  float: left;
  width:45%;
  height: 60%;
}
.titulo input{
  width: 80%;
  height: 25px;
  float:center;
  border-style: none;
  margin-bottom: 10px;
  margin-left: 10px;

}
.conteudo input{
  float:left;
  width: 100%;
  height: 100px;
  border-style: none;
  border-radius: 15px;
}
.user{
  display:block;

  width: 100%;
  height: 60%;
}
.user h4{
  width: 40%;
  margin-left:17.5%;
}
.panel-body{
  overflow: hidden;
  margin-top:10px;
  float: left;
  background-color: white;
  border-radius: 10px;
  height: 75%;
  width: 97.5%;
}
.panel-body p{

  margin-left:10px;
  float: left;
  text-align: left;
  color:black;
}
.user-area{
  display:row;
  float: left;
  width: 20%;
  height: 100%;
  padding:0;

}
.cover {
  padding: 10px 20px;
  font-weight: bold;
}
.tab {
  position: absolute;
    top: 25%;
  left: 7.5%;
     width: 80%;
     height: 70%;
     padding: 10px;
margin: 0;
  overflow: hidden;

  border-radius: 10px;
  background-color: rgba(0,0,0,.5);
  overflow-y:auto;

}





.mastfoot {
  color: #999;
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
.ico {
  color: white !important;
  text-decoration: none;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

a{
  text-decoration: none;
}
.icons{
  list-style-type: none;
   margin: 0;
   padding: 0;

  }
  .icons img{
    border-radius:50%;

    width:75px;
    height: 75px;
    margin: 10px;
    background-size: cover;
    float: left;
    -webkit-transition:  0.4s ease;
    transition:  0.4s ease;



  }
  .icons img:hover{

    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
  }
.teste{
  background-image: url(globo.png);
  max-width: 100%;
   height: auto;

}
@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
.nav-icons{

  position: fixed;
  top: 22.5%;
  left: 2.5%;
  margin-bottom:12.5%;

  width: 93.5px;

  height: 530px;
}
@media screen and (min-height: 640px) {
    .nav-icons {
        width:93.5px;
        top: 22.5%;
        height: 530px;
        left: 2.5%;
        margin-bottom:12.5%;


    }
}

.search {
    width: 60px;

    border: none;
    border-radius: 50px;
    height: 14px;
    line-height: 25px;
    font-size: 14px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 6px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 200px;
    border: none;
    outline: none;
}

.cover-heading{
  font-family: 'Stoke', serif;
  font-size: 40px;
}
.ab-bar{
  position: fixed;
  background-image: url('seta.png');
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
  right: 15px;
  top: 28%;
  float: left;
  width: 30px;

  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  -webkit-transition:  1.0s ease;
  transition:  1.0s ease;

}
.ab-bar h3,p{
  visibility:hidden;


}
.ab-bar p{
  font-weight: bold;
  visibility:hidden;


}


.ab-bar:hover{
  border-radius: 5px;
  background-image: none;
  position: fixed;
  right: 8px;
  top: 26%;
  float: left;
  width: 250px;
  padding-top: 10px;
  height: 400px;
  background: rgba(255, 255, 255, 0.5);

}
.ab-bar:hover h3,p{
  color: black;
  visibility:visible;


}
.ab-bar:hover p{
  color: black;
  visibility:visible;


}
