
<div class="box" id="background">
<div class="container"  id="feedfundo">
  <div  ng-repeat="post in posts " class="columns">
    <div class="column">
      <article class="media">
     <div class="media-left">
       <figure class="image is-64x64">
         <img id="feedpic"src="{{post.img}}" alt="Image">
       </figure>
     </div>
     <div class="media-content">
       <div class="content">
         <p>
           <strong >{{post.post_title}}</strong> <small>- {{post.catname}} -</small> <small>{{post.nome}}</small> <small>{{post.hora}}</small>
           <br>

          {{post.post_count}}
         </p>
       </div>
       <nav class="level is-mobile">
         <div class="level-left">
           <a class="level-item">
             <span role="icon" class="icon is-small"><i class="fa fa-star"></i></span>
           </a>
           <a ng-click="replyload(post.id_post,$index,posts.length);resp = !resp"class="level-item">
             <span  role="icon" class="icon is-small"><i class="fa fa-reply"></i></span>&nbsp&nbsp

           </a>
         </div>
       </nav>

       <article ng-repeat="resposta in respostas[$index]" ng-show="resp"  class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img id="feedpic" src="{{resposta.img}}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{resposta.nome}}</strong> <small>{{resposta.resp_hora}}</small>
              <br>
              {{resposta.resp}}
              <br>
              <small ng-if="resposta.melhoresp=='1'"><br><span style="color:green">Escolhida como melhor resposta</span></small>
            </p>
          </div>
        </div>
      </article>
       <article ng-show="resp" class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img id="feedpic" src="{{userpic}}">
        </p>
      </figure>
      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea class="textarea" ng-model="answercontent" placeholder="Resposta..."></textarea>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button ng-click="resp = !resp;replysubmit(answercontent,post.id_post)" class="button is-primary">Enviar</button>
          </p>
        </div>
      </div>
    </article>
     </div>
   </article>
    </div>
  </div>
</div>
</div>
