
<div class="box" id="background">
<div class="container"  id="feedfundo">
  <div class="columns">
    <div class="column">
      <article ng-repeat="post in posts"class="media">
     <div class="media-left">
       <figure class="image is-64x64">
         <img src="{{post.img}}" alt="Image">
       </figure>
     </div>
     <div class="media-content">
       <div class="content">
         <p>
           <strong>{{post.usuario}}</strong> <small>@{{post.email}}</small> <small>{{post.time}}</small>
           <br>
          {{post.conteudo}}
         </p>
       </div>
       <nav class="level is-mobile">
         <div class="level-left">
           <a class="level-item">
             <span role="icon" class="icon is-small"><i class="fa fa-heart"></i></span>
           </a>
           <a ng-click="fastreply()"class="level-item">
             <span  role="icon" class="icon is-small"><i class="fa fa-reply"></i></span>&nbsp&nbsp

           </a>
           <a class="level-item">
           <input class="input"   ng-show="fastresp" id="fastresp" type="text" placeholder="Resposta Rapida..."></a>
           <a class="level-item">
             <span  role="icon" ng-click="fastreplysubmit()" ng-show="fastresp" class="icon is-small"  style="font-size:12px"><i class="fa fa-paper-plane" aria-hidden="true"></i><span>
          </a>
         </div>
       </nav>
     </div>
   </article>
    </div>
  </div>
</div>
</div>
