<div class="inner cover">
  <h1 class="cover-heading">Compartilhe conhecimento!</h1>

</div>

<div class="mastfoot">
  <div class="inner">

  </div>
</div>
<nav class="nav-icons">
  <ul class="icons">

  <li><a href="#!forum"  ng-click="fundo('fisica')"><img  src="icones/fisica.png" alt="Fisica." title="Física."></img></a></li>
<li><a href="#!forum" ng-click="fundo('quimica')"><img src="icones/quimica.png" alt="Quimica." title="Química."></img></a></li>
<li><a href="#!forum"ng-click="fundo('matematica')"><img src="icones/mat.png" alt="Matematica." title="Matemática."></img></a></li>
  <li><a href="#!forum"ng-click="fundo('geografia')"><img src="icones/geografia.png" alt="Geografia." title="Geografia."></img></a></li>
    <li><a href="#!forum"ng-click="fundo('historia')"><img src="icones/historia.png" alt="História." title="História."></img></a></li>

  </ul>
</nav>
<div class="ab-bar" title="Sobre.">
  <h3 class="sobre">Sobre</h3>
  <p>A  casa do estudante tem como objetivo interação entre usuários para  a troca de conhecimento em determinadas áreas de aprendizagem disponíveis no site. É voltado para auxiliar alunos e sanar suas dúvidas por meio de postagens realizadas pela parte interessada no conteúdo   obtendo respostas de outros usuário que já possuem um conhecimento do conteúdo. As respostas contém peso avaliativo, a melhor resposta de acordo com o interessado no conteúdo fica acima das respostas com uma avaliação menos, tendo assim mais visibilidade.</p>
</div>
