#navgbar{
  background-color: rgba(0, 0, 0, 0.0) !important;
  position: fixed;
  top:0;
  right:0;
  left: 0;
}
#signout{
  text-decoration: none;
  color: black;
}
html,
body {
    height: 100vh;
}
body{

  background-color: #000 !important;

}

[role=icon]{
  color: black!important;
}
[role=icon]:hover{
  color: blue!important;
}
.icon{
  color: white;
}

[role=iconarea]:hover > span{
  color: black!important;
}
#submit{
  height: 16px;

}
input[type="radio"]{
  display: none;
}
h1{
  font-family: "Stoke", serif;
  font-weight: bold;
}
[role=text] {
  color: white !important;
}[role=choices]:hover > a{
  color: black !important;
}
[role=choices]:hover > a{
  background-color: #fff !important;
}
#background{

  height: 400px;
}
#home:hover{
  color: black !important;
}
#categorianav{
  overflow: hidden;
}
[role=categoriasico]{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#opt input:checked + label{
  color: #00FF00;
}
#pic{
  height: 25px;
  width: 25px;

}
}
#fav:hover{
  color:blue;
    

}
#body{
  height: 80%;
}
#fastresp{
  height: 16px;
  font-size: 10px;
  width: 200px;
}
#hero{
  height: 100%!important;
  margin:auto;
  width: 100%!important;
}
#body1{
  height: 90%;
}
#pic{
  border-radius: 50%;
}
#logo:hover{
  background-color: rgba(0, 0, 0, 0.0) !important;
}

#Signin:hover{
  background-color: rgba(0, 0, 0, 0.0) !important;
}
#hero{
background-image: url(/novo/Res/fundo.png);
background-position:bottom;

}
#logoimg{
    background-position: 10px 6px !important;
    background-image: url(novo/Res/casadoestudante.png);
}
#feedfundo{
  height: 100%!important;
  width: 100% !important;
  margin:0px;
  background-color:#fff;

  overflow-y: auto;
  overflow-x: hidden;

}
#feedpic{
  border-radius: 50%;
}
